{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Gİrİş Yap</h2>
                                <p class="text-white-50 mb-5">Lütfen Kullaınıcı Adınızı Ve Şifrenizi Giriniz!</p>

                                <form class="login" method="POST" action="{% url 'account_login' %}" autocomplete="off">
                                {% csrf_token %}
                                    <div class="form-outline form-white mb-4">
                                        <input id="typeEmailX" name="login"
                                               class="form-control form-control-lg" aria-autocomplete="none" autocomplete="off"/>
                                        <label class="form-label" for="typeEmailX">Email</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input type="password" id="typePasswordX" name="password"
                                               class="form-control form-control-lg" aria-autocomplete="none" autocomplete=""/>
                                        <label class="form-label" for="typePasswordX">Şifre</label>
                                    </div>


                                    <p class="small mb-1 pb-lg-2"><input type="checkbox" name="remember"
                                                                         id="id_remember"> Beni Hatırla</p>
                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{% url 'account_reset_password' %}">Şifremi
                                        Unuttum?</a></p>

                                    <button class="btn btn-outline-light btn-lg px-5"
                                            type="submit">Gİrİş Yap
                                    </button>

                                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                        <a href="{% provider_login_url 'google' %}" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                    </div>
                                </form>
                            </div>

                            <div>
                                <p class="mb-0">Hesabınız Yok mu? <a href="{{ signup_url }}" class="text-white-50 fw-bold">Kayıt
                                    Ol</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    {##}
    {#<h1>{% trans "Sign In" %}</h1>#}
    {##}
    {#{% get_providers as socialaccount_providers %}#}
    {##}
    {#{% if socialaccount_providers %}#}
    {#<p>{% blocktrans with site.name as site_name %}Please sign in with one#}
    {#of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>#}
    {#for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>#}
    {##}
    {#<div class="socialaccount_ballot">#}
    {##}
    {#  <ul class="socialaccount_providers">#}
    {#    {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
    {#  </ul>#}
    {##}
    {#  <div class="login-or">{% trans 'or' %}</div>#}
    {##}
    {#</div>#}
    {##}
    {#{% include "socialaccount/snippets/login_extra.html" %}#}
    {##}
    {#{% else %}#}
    {#<p>{% blocktrans %}If you have not created an account yet, then please#}
    {#<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>#}
    {#{% endif %}#}
    {##}
    {#<form class="login" method="POST" action="{% url 'account_login' %}">#}
    {#  {% csrf_token %}#}
    {#  {{ form.as_p }}#}
    {#  {% if redirect_field_value %}#}
    {#  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />#}
    {#  {% endif %}#}
    {#  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
    {#  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>#}
    {#</form>#}

{% endblock %}
